<div class="card card-body mb-2">
  <h4>List Name: {{list.title}}</h4>
  <h6>Status: {{list.status}}</h6>
  <br>
  <h4>Ingredients:</h4> {{list.ingredients}}
  <br>
  <br>
  <a class="btn btn-dark btn-block mb-2" href="/lists"><i style="font-size:24px padding-top:2px; padding-right:10px;" class="fa">&#8592;</i>Back</a>
</div>