<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">Welcome to Recipe Book</h1>
    <p class="lead">Where you can manage all of your Recipes and Create a Shopping List</p>
    <a href="/recipe/add" class="btn btn-dark btn-lg">Add Recipe</a>
</div>