<div class="jumbotron text-center text-custom-color-darkbrown">
    <h1 class="display-3">Shopping  List</h1>
    <p class="lead">Make a shopping list for your Recipes</p>
    <a href="/ingredient/add" class="btn btn-dark btn-lg">Add Ingredient</a>
</div>